
#video1{
width:400px;
height:200px;
}
#video2{
  width:400px;
  height:200px;
}
#video3{
  width:400px;
  height:200px;
}
#control{
  width:200px;
  height:200px;
}
#results{
  width:200px;
  height:200px;

}
#graph{
  width:200px;
  height:200px;

}
#manager{
  width:400px;
  height:400px;

}
